<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Battlrfield</title>
  <meta name="description" content="BATTLE!">
  <link rel="stylesheet" href="battlefield.css">
  <script src="/socket.io/socket.io.js"></script>
</head>


<body>

    <div class="field">
        <div class="player_bar">
            <img class="deck" src="assets/card_red.jpeg" alt="deck">
            <div class="hand"></div>
            <div class="curency_container">
                <img class="curency" src="assets/currency.png" alt="currency">
                <span id="player_2_currency">10/10</span>
            </div>
        </div>

        <div class="play_area"></div>
        <div class="play_area"></div>
        <div class="player_bar">
            <img class="deck" src="assets/card_blue.jpeg" alt="deck">
            <div class="hand">

                <!-- Картки в руці, заміню на js -->

                <!-- <div class="background">
                    <div class="circle">
                        <img id="curr" src="assets/currency.png" alt="cost">
                        <span id="card_cost">4</span>
            
                    </div>
                    <img id="charecter" src="assets/panther.jpeg" alt="hero">
                    <div class="blank">
                        <span id="card_name">name</span>
                        <br>
                        <div class="health">
                            <img id="health" src="assets/health.png" alt="health">
                            <span id="card_health">3</span>
                        </div>
                        <div class="atk">
                            <span id="card_atk">4</span>
                            <img id="atk" src="assets/atk.png" alt="atk">
                        </div>
                    </div>
            
                </div>

                <div class="background">
                    <div class="circle">
                        <img id="curr" src="assets/currency.png" alt="cost">
                        <span id="card_cost">4</span>
            
                    </div>
                    <img id="charecter" src="assets/panther.jpeg" alt="hero">
                    <div class="blank">
                        <span id="card_name">name</span>
                        <br>
                        <div class="health">
                            <img id="health" src="assets/health.png" alt="health">
                            <span id="card_health">3</span>
                        </div>
                        <div class="atk">
                            <span id="card_atk">4</span>
                            <img id="atk" src="assets/atk.png" alt="atk">
                        </div>
                    </div>
            
                </div> <div class="background">
                    <div class="circle">
                        <img id="curr" src="assets/currency.png" alt="cost">
                        <span id="card_cost">4</span>
            
                    </div>
                    <img id="charecter" src="assets/panther.jpeg" alt="hero">
                    <div class="blank">
                        <span id="card_name">name</span>
                        <br>
                        <div class="health">
                            <img id="health" src="assets/health.png" alt="health">
                            <span id="card_health">3</span>
                        </div>
                        <div class="atk">
                            <span id="card_atk">4</span>
                            <img id="atk" src="assets/atk.png" alt="atk">
                        </div>
                    </div>
            
                </div> <div class="background">
                    <div class="circle">
                        <img id="curr" src="assets/currency.png" alt="cost">
                        <span id="card_cost">4</span>
            
                    </div>
                    <img id="charecter" src="assets/panther.jpeg" alt="hero">
                    <div class="blank">
                        <span id="card_name">name</span>
                        <br>
                        <div class="health">
                            <img id="health" src="assets/health.png" alt="health">
                            <span id="card_health">3</span>
                        </div>
                        <div class="atk">
                            <span id="card_atk">4</span>
                            <img id="atk" src="assets/atk.png" alt="atk">
                        </div>
                    </div>
            
                </div> -->
            </div>
            <div class="curency_container">
                <img class="curency" src="assets/currency.png" alt="currency">
                <span id="player_1_currency">10/10</span>
            </div>

        </div>
    </div>
    <div class="sidebar">
        <div class="player" id="user_2">
            <img class="pfp" src="assets/pfp_red.jpeg" alt="pfp">
            <span id="user_2_username">name 2</span><br>
            <span id="user_2_health">HP: 30/30</span>

        </div>
        <input type="button" id="end_turn" value="End Turn">
        <div class="clock">
            <span id="time">30</span>
        </div>
        <div class="player" id="user_1">
            <img class="pfp" src="assets/pfp_blue.jpeg" alt="pfp">
            <span id="user_1_username">name 1</span><br>
            <span id="user_1_health">HP: 30/30</span>

        </div>
    </div>





  <script>

    let my_login =  document.getElementById("user_1_username");
    let opp_login =  document.getElementById("user_2_username");

    let socket = io();


    socket.on('connect', () =>{
        
        socket.emit('find_game');

    });

    socket.on('start', () =>{

        socket.emit("my_login", my_login.textContent)

        socket.on('opp_login', (login) =>{
            opp_login.textContent = login;
        });

    });

    


  </script>
</body>
</html>