<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Battlrfield</title>
  <meta name="description" content="BATTLE!">
  <link rel="stylesheet" href="battlefield.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="field">
        <div class="player_bar">
            <img class="deck" src="assets/card_red.jpeg" alt="deck">
            <div id="user_2_hand" class="hand"></div>
            <div class="curency_container">
                <img class="curency" src="assets/currency.png" alt="currency">
                <span id="player_2_currency">10</span><span>/10</span>

            </div>
        </div>

        <div id="table_user_2" class="play_area"></div>
        <div id="table_user_1" class="play_area"></div>
        <div class="player_bar">
            <img class="deck" src="assets/card_blue.jpeg" alt="deck">
            <div id="user_1_hand" class="hand"></div>
            <div class="curency_container">
                <img class="curency" src="assets/currency.png" alt="currency">
                <span id="player_1_currency">10</span><span>/10</span>
            </div>

        </div>
    </div>
    <div class="sidebar">
        <div class="player" id="user_2">
            <img class="pfp" src="assets/pfp_red.jpeg" alt="pfp">
            <span id="user_2_username">name 2</span><br>
            <span id="user_2_health">HP: 30/30</span>

        </div>
        <input type="button" id="end_turn" value="End Turn">
        <div class="clock">
            <span id="time">30</span>
        </div>
        <div class="player" id="user_1">
            <img class="pfp" src="assets/pfp_blue.jpeg" alt="pfp">
            <span id="user_1_username">name 1</span><br>
            <span id="user_1_health">HP: 30/30</span>

        </div>
    </div>



    <!-- here is timer logic -->
    <!-- timer -->
    <script>
        let timerInterval;
        let timeLeft = 30;
        function startTimer() {
            clearInterval(timerInterval);
    
            timeLeft = 30;
            document.getElementById('time').textContent = timeLeft;
    
            timerInterval = setInterval(() => {
                timeLeft--;
                document.getElementById('time').textContent = timeLeft;
    
                if (timeLeft <= 0) {
                    clearInterval(timerInterval);
                    endTurn();
                }
            }, 1000);
        }

        function endTurn() {

            if(turn){
                // alert('Turn ended!');
                startTimer(); // Restart the timer for the next turn
                socket.emit('change_turn');

            } 
        }
    
        document.getElementById('end_turn').addEventListener('click', () => {
            if(turn){
                clearInterval(timerInterval);
                endTurn();

            }
        });
        // window.onload = startTimer;
    </script>    
    <!-- end of timer logic -->


<!-- cards script -->
<script>
    class Card{
    constructor(id, name, cost, hp, atk){
        this.id = `card_${id}`
        this.name = name
        this.cost = cost
        this.hp = hp
        this.atk = atk

    }
}

    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
    }

    function init_deck(deck){

        deck.push(new Card(0,"Ant-Man", 1, 1, 2));
        deck.push(new Card(1,"Black Panther", 4, 5, 3));
        deck.push(new Card(2,"Black Widow", 2, 2, 1));
        deck.push(new Card(3,"Captain America", 5, 4, 4));
        deck.push(new Card(4,"Captain Marvel", 8, 7, 5));
        deck.push(new Card(5,"Doctor Strange", 5, 6, 2));
        deck.push(new Card(6,"Hawkeye", 1, 1, 2));
        deck.push(new Card(7,"Heimdal", 3, 3, 3));
        deck.push(new Card(8,"Iron Man", 5, 5, 3));
        deck.push(new Card(9,"Loki", 4, 5, 2));
        deck.push(new Card(10,"Nebula", 2, 2, 3));
        deck.push(new Card(11,"Nick Fury", 2, 3, 1));
        deck.push(new Card(12,"Odin", 3, 2, 4));
        deck.push(new Card(13,"Scarlet Witch", 5, 6, 3));
        deck.push(new Card(14,"Spider-Man", 4, 3, 6));
        deck.push(new Card(15,"Star-Lord", 1, 1, 3));
        deck.push(new Card(16,"Thanos", 10, 6, 8));
        deck.push(new Card(17,"Thor", 7, 5, 7));
        deck.push(new Card(18,"Ultron", 6, 7, 3));
        deck.push(new Card(19,"Vision", 6, 5, 5));

        console.log("deck initialized succesfully")

                
    }


    function append_user_card_hand(obj) {        //створює картку юзера в руці
        const hand = document.getElementById("user_1_hand");
        const card = document.createElement("div");
        card.innerHTML = ` <div class="circle">
                            <img id="curr" src="assets/currency.png" alt="cost">
                            <span id="card_cost">${obj.cost}</span>
                
                        </div>
                        <img id="charecter" src="assets/${obj.name}.jpg" alt="hero">
                        <div class="blank">
                            <span class = "name">${obj.name}</span>
                            <br>
                            <div class="health">
                                <img id="health" src="assets/health.png" alt="health">
                                <span id="card_health">${obj.hp}</span>
                            </div>
                            <div class="atk">
                                <span id="card_atk">${obj.atk}</span>
                                <img id="atk" src="assets/atk.png" alt="atk">
                            </div>
                        </div>`


        card.classList.add("background");
        card.id = `hand_${obj.id}`

        card.addEventListener("click", () =>{
            if(turn) play_card(obj);
        });

        hand.appendChild(card);
        console.log("card appended succesfully")
    }

    function append_opp_card_hand() {
        const hand = document.getElementById("user_2_hand");
        const card = document.createElement("div");
        card.innerHTML = ` <img src="assets/card_red.jpeg" alt="deck" class = "background">`


        card.classList.add("background");


        hand.appendChild(card);

        console.log("opp card appended succesfully")

    }
    let selectedCard = null; // To keep track of the selected card




    function append_user_card_table(obj) { // creates the user card on the battlefield
        const hand = document.getElementById("table_user_1");
        const card = document.createElement("div");
        card.innerHTML = `
            <div class="circle">
                <img id="curr" src="assets/currency.png" alt="cost">
                <span id="card_cost">${obj.cost}</span>
            </div>
            <img id="charecter" src="assets/${obj.name}.jpg" alt="hero">
            <div class="blank">
                <span class="name">${obj.name}</span>
                <br>
                <div class="health">
                    <img id="health" src="assets/health.png" alt="health">
                    <span id="card_health">${obj.hp}</span>
                </div>
                <div class="atk">
                    <span id="card_atk">${obj.atk}</span>
                    <img id="atk" src="assets/atk.png" alt="atk">
                </div>
            </div>`;
    
        card.classList.add("background");
        card.id = `${obj.id}`;
    
        // Add the attack logic here
        card.addEventListener("click", () => {
            if (turn) {
                selectCardForAttack(card, obj); // Select this card for attacking
                
            }
        });
    
        hand.appendChild(card);
        console.log("User card appended successfully");
    }
    
    function append_opp_card_table(obj) { // creates the opponent's card on the battlefield
        const hand = document.getElementById("table_user_2");
        const card = document.createElement("div");
        card.innerHTML = `
            <div class="circle">
                <img id="curr" src="assets/currency.png" alt="cost">
                <span id="card_cost">${obj.cost}</span>
            </div>
            <img id="charecter" src="assets/${obj.name}.jpg" alt="hero">
            <div class="blank">
                <span class="name">${obj.name}</span>
                <br>
                <div class="health">
                    <img id="health" src="assets/health.png" alt="health">
                    <span id="card_health">${obj.hp}</span>
                </div>
                <div class="atk">
                    <span id="card_atk">${obj.atk}</span>
                    <img id="atk" src="assets/atk.png" alt="atk">
                </div>
            </div>`;
    
        card.classList.add("background");
        card.id = `opp_${obj.id}`;
    
        // Add the attack logic here
        card.addEventListener("click", () => {
            if (turn && selectedCard) {
                console.log(`calling attack with parameters: ${selectedCard}, ${card}, ${obj}`)
                attack(selectedCard, card, obj); // Attack this opponent's card
            }
        });
    
        hand.appendChild(card);
        console.log("Opponent's card appended successfully");
    }
    
    function selectCardForAttack(card, obj) {
        // Deselect previously selected card
        if (selectedCard) {
            selectedCard.classList.remove('selected');
        }
        // Select the new card
        selectedCard = card;
        card.classList.add('selected');
        console.log(`${obj.name} is selected for attack.`);
    }
    
    function attack(attackerCard, targetCard, targetObj) {
        // const attackerObj = user_deck.find(c => c.id === parseInt(attackerCard.id.split('_')[1]));
        const attackerObj = default_deck[parseInt(attackerCard.id.split('_')[1])];


    
        // console.log(`check for atkobj ${attackerObj} and card obj ${targetObj}`)
        if (!attackerObj || !targetObj) {
          console.error("Invalid card selected for attack.");
          return;
        }
    
        targetObj.hp -= attackerObj.atk;
        const healthSpan = targetCard.querySelector('#card_health');
        healthSpan.textContent = targetObj.hp;

        socket.emit('attack_card', {
            attackerId: attackerObj.id,
            targetId: targetObj.id,
            attackerDamage: attackerObj.atk
        });
    
        console.log(`${attackerObj.name} attacked ${targetObj.name} and dealt ${attackerObj.atk} damage.`);
    
        if (targetObj.hp <= 0) {
          targetCard.remove();
          console.log(`${targetObj.name} has been defeated.`);
        }
    
        // Emit the attack event to the server
    
        selectedCard.classList.remove('selected');
        selectedCard = null;
        checkWinCondition();
        endTurn();
    }
    

      function attackOpponent(attackerCard, opponentId) {
        console.log(attackerCard);
        console.log(user_deck);
        console.log(attackerCard.id.split('_')[1]);
        const attackerObj = user_deck.find(c => c.id === attackerCard.id);
  
        if (!attackerObj) {
          console.error("Invalid attacker card selected.");
          return;
        }
  
        const opponentHealthSpan = document.getElementById(`${opponentId}_health`);
        let currentHP = parseInt(opponentHealthSpan.textContent.split('/')[0].split(': ')[1]);
  
        currentHP -= attackerObj.atk;
        currentHP = Math.max(0, currentHP);
        opponentHealthSpan.textContent = `HP: ${Math.max(0, currentHP)}/30`;
  
        console.log(`${attackerObj.name} attacked ${opponentId} directly and dealt ${attackerObj.atk} damage.`);

        socket.emit("attack_opponent", currentHP);
  
        if (currentHP <= 0) {
          alert(`${opponentId} has been defeated!`);
          console.log(`${opponentId} has been defeated.`);
        }
  
        selectedCard.classList.remove('selected');
        selectedCard = null;
        checkWinCondition();
        endTurn();
    }

    function play_card(obj){
        const currency = document.getElementById("player_1_currency")
        const card = document.getElementById(`hand_${obj.id}`)

        let resourse = parseInt(currency.textContent)
        if (resourse - obj.cost >= 0) {
            resourse = resourse - obj.cost
            currency.textContent = `${resourse}`
            append_user_card_table(obj)
            console.log(`card appended with id ${obj.id}`)
            card.remove()
            socket.emit("place_card", obj);
        }
    }

    function updateOpponentCardDisplay(cards) {
        const opponentArea = document.getElementById('table_user_2'); // Assuming an HTML container for opponent cards
        opponentArea.innerHTML = ''; // Clear the previous state
    
        cards.forEach(card => {
            // Create card elements and append them to the opponent's card area
            const cardElement = document.createElement('div');
            cardElement.className = 'table_user_2';
            cardElement.id = `table_user_2.${card.id}`;
            cardElement.innerHTML = `
                <div class="card">
                    <img src="assets/${card.name}.jpg" alt="${card.name}">
                    <div class="card-info">
                        <span class="name">${card.name}</span>
                        <span class="hp">HP: ${card.hp}</span>
                        <span class="atk">ATK: ${card.atk}</span>
                    </div>
                </div>`;
            opponentArea.appendChild(cardElement);
        });
    }
    
    function checkWinCondition() {
        // Retrieve the health points from the displayed spans
        const user1Health = parseInt(document.getElementById('user_1_health').textContent.split('/')[0].split(': ')[1]);
        const user2Health = parseInt(document.getElementById('user_2_health').textContent.split('/')[0].split(': ')[1]);
    
        if (user1Health <= 0) {
            displayWinLossMessage('Player 2 Wins!'); 
        } else if (user2Health <= 0) {
            displayWinLossMessage('Player 1 Wins!');
        }
    }
      function displayWinLossMessage(message) {
        const messageContainer = document.createElement('div');
        messageContainer.classList.add('win-loss-message');
        messageContainer.innerHTML = `
          <h1>${message}</h1>
          <button onclick="restartGame()">Start New Game</button>
        `;
        document.body.appendChild(messageContainer);
      }
  
      function restartGame() {
        location.reload();
      }

</script>

<!-- main script -->

  <script>



    let my_login =  document.getElementById("user_1_username");
    let opp_login =  document.getElementById("user_2_username");
    let turn = false;

    user_deck = [];
    default_deck = []; //тут будемо брати по id від сервака

    init_deck(user_deck);
    init_deck(default_deck);

    card_index = 0
    shuffleArray(user_deck);
    for (; card_index < 3; card_index++) {
        append_user_card_hand(user_deck[card_index]);

    }
    for (let index = 0; index < 3; index++) {
        append_opp_card_hand();

    }

 


    let socket = io();


    socket.on('connect', () =>{
        
        socket.emit('find_game');

    });

    socket.on('start', () =>{

        socket.emit("my_login", my_login.textContent)

        socket.on('opp_login', (login) =>{
            opp_login.textContent = login;
        });

        startTimer()

    });



    socket.on('change_turn', (player_id) =>{

        if (socket.id === player_id) {
            turn = true;
            console.log("MY TURN")

            if(card_index <=19) {
                append_user_card_hand(user_deck[card_index]);
                card_index+=1
                document.getElementById("player_1_currency").textContent = "10"
            }
            
            startTimer();
        }
        else{
            turn = false;
            console.log("not my turn((")
            append_opp_card_hand()
            document.getElementById("player_2_currency").textContent = "10"

        }

    });

    socket.on('card_placed', (obj) =>{
        if(!turn) {
            const currency = document.getElementById("player_2_currency")
            let resourse = parseInt(currency.textContent)

                resourse = resourse - obj.cost
                currency.textContent = `${resourse}`
                append_opp_card_table(obj);
                document.getElementById("user_2_hand").lastChild.remove()
                console.log(`card appended with id ${obj.id}`)



        }

    });

    socket.on("got_attacked", (newHP) => {

        if(!turn){
            const userHealthSpan = document.getElementById(`user_1_health`);
            let currentHP = parseInt(userHealthSpan.textContent.split('/')[0].split(': ')[1]);
    

            currentHP = newHP;
            userHealthSpan.textContent = `HP: ${Math.max(0, currentHP)}/30`;
    
            if (currentHP <= 0) {
            alert(`You have been defeated!`);
            console.log(`$You hae been defeated.`);
            }
        }
       

    })

    
    socket.on('opponent_attacked_card', ({ attackerId, targetId, attackerDamage }) => {
        console.log("card got attacked");
        if(!turn){
            const targetCard = document.getElementById(`${targetId}`);
            console.log(`card html was found ${targetCard}`);
            
            const targetObj = user_deck.find(c => c.id === targetId);
            console.log(`card obj was found ${targetObj} by id ${targetId}`);

        
            if (targetCard && targetObj) {
            console.log(`all good`);

                targetObj.hp -= attackerDamage;
                const healthSpan = targetCard.querySelector('#card_health');
                healthSpan.textContent = targetObj.hp;
        
                if (targetObj.hp <= 0) {
                    targetCard.remove();
                    console.log(`${targetObj.name} has been defeated.`);
                }
            }
        }
        
    });

    socket.on('update_opponent_cards', (cards) => {
        // Logic to update the UI with opponent cards
        append_opp_card_table(cards); // Implement this function to refresh the UI
    });
    

    document.body.addEventListener('click', (event) => {
        if (event.target.classList.contains('play_area') && selectedCard) {
          // Example to attack another card
          const targetCard = event.target.closest('.background');
          const targetObj = user_deck.find(c => `card_${c.id}` === targetCard.id);
  
          attack(selectedCard, targetCard, targetObj);
        } else if (event.target.closest('#user_2') && selectedCard) {
          // Example to attack the opponent directly
          attackOpponent(selectedCard, 'user_2');
        }
      });


  </script>
</body>
</html>


