<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Login</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- Add your image here -->
        <img src="/img1.png" alt="Marvel Logo" class="login-image">

        <form action="/login" method="POST" class="marvel-login">
            <h2>Login</h2>
            <div>
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <a href="/register" class="login-button">New user</a>
        </form>
    </div>
</body>
</html>
